*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
/tutorials/Copy
/tutorials/Copy_of_working_code
/tutorials/login
/tutorials/MapWithMarker
/tutorials/MyApplication
/tutorials/MyApplication2
/tutorials/MyApplication3
/tutorials/MyApplication4
/tutorials/MyApplication5
/tutorials/MyApplication6
/tutorials/Polygons
/tutorials/StyledMap
